/* DESKTOP 1760PX */

@media (max-width: 110em) {
}

/* DESKTOP 1440PX */

@media (max-width: 90em) {
  /* html {
    font-size: 58%;
  } */
}

/* DESKTOP 1328PX */

@media (max-width: 83em) {
}

/* DESKTOP 1168PX */

@media (max-width: 75em) {
  /* html {
    font-size: 54%;
  } */
}

/* TABLET 1040PX */

@media (max-width: 65em) {
  /* html {
    font-size: 53%;
  } */
}

/* TABLET 880PX */

@media (max-width: 55em) {
  /* html {
    font-size: 52%;
  } */
  /* .table-container {
    width: 76rem;
  } */
}

/* TABLETS 800PX */
@media (max-width: 50em) {
  /* html {
    font-size: 51%;
  } */

  /* .table-container {
    width: 68rem;
  } */

  .getproducts {
    width: 58%;
  }
}
/*  656PX*/
@media (max-width: 41em) {
  /* html {
    font-size: 50%;
  } */
  .navlinks li {
    display: none;
  }
  .nav-icons {
    display: inline-block;
  }
  .active {
    width: 8rem;
  }
  .summary {
    width: 75%;
    margin-left: 5rem;
  }
  .getproducts {
    width: 46%;
  }
  /* .table-container {
    width: 64rem;
  } */
}

/* MOBILE 496PX */
@media (max-width: 31em) {
  /* html {
    font-size: 47%;
  } */

  .table-header {
    padding: 1rem;
  }
  .table-data {
    padding: 1rem;
  }
  /* .table-container {
    width: 48rem;
  } */
  .getproducts {
    width: 34%;
  }
}

/* 400Px */

@media (max-width: 25em) {
  /* html {
    font-size: 45%;
  } */

  .summary {
    width: 100%;
    margin-left: 0rem;
  }
  .active {
    width: 5rem;
  }

  /* .section-1 {
    display: none;
  } */
  /* .section-1 {
    margin-left: -3rem;
  } */

  .table-header {
    padding: 1rem 0rem;
  }
  .table-data {
    padding: 1rem 0rem;
  }
  /* .table-container {
    width: 38rem;
  } */

  .stock-container {
    padding: 0rem;
  }
  .stock-gap {
    padding: 0rem 0rem;
  }
  .stock-btn {
    padding: 0rem;
  }
  .getproducts {
    font-size: 0.9rem;
  }
}

/* 288PX */

@media (max-width: 18em) {
  /* html {
    font-size: 43%;
  } */
}
